* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 235, 175);
}

a {
    text-decoration: none;
    color: yellow;
}

<!--Navbar-->

.main {
   
}

.nav-link {
    color:yellow;
    padding: .5rem;
}

.navbar-text {
    padding: .5rem;
    color: white;
}

nav {
    margin-bottom: 30px;
}

<!--Section-->

section {
    padding:50px;
}

<!--Call Out-->

.callout-container {
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about-container {
}

.text {
    width: 400px;
    margin: 30px;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.oils {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* Footer */
.footer-container {
    
    color: white;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

.footer {
    text-align: center;
}

#brand {
    font-family: 'Montserrat Alternates', sans-serif;
}